* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #0B2434;
    margin: 0;
    padding: 50px;
    font-family: 'Karla', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #F5F5F5;
    height: 600px;
    max-width: 800px;
    border-radius: 10px;
    padding: 20px;
}

.title {
    font-size: 40px;
    margin: 0;
}

.instructions {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin-top: 0;
    text-align: center;
}

.dice--container {
    display: grid;
    grid-template: auto auto / repeat(5, 1fr);
    grid-gap: 30px;
}

.dot {
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
}

.die-face {
    display: flex;
    align-items: center;
    justify-self: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    border-radius: 3.81px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    position: relative;
}

.die-face2 .dot1, 
.die-face3 .dot1,
.die-face4 .dot1,
.die-face5 .dot1,
.die-face6 .dot1 {
    position: absolute;
    top: 20%;
    left: 20%;
}

.die-face2 .dot2, 
.die-face3 .dot3,
.die-face4 .dot4,
.die-face5 .dot5,
.die-face6 .dot6 {
    position: absolute;
    bottom: 20%;
    right: 20%;
}

.die-face4 .dot2,
.die-face5 .dot2,
.die-face6 .dot2 {
    position: absolute;
    top: 20%;
    right: 20%;
}

.die-face4 .dot3,
.die-face5 .dot3,
.die-face6 .dot5 {
    position: absolute;
    bottom: 20%;
    left: 20%;
}

.die-face6 .dot3 {
    position: absolute;
    left: 20%;
}

.die-face6 .dot4 {
    position: absolute;
    right: 20%;
}

.roll-button {
    font-family: 'Karla', sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    background-color: #5035FF;
    color: white;
    border: none;
    border-radius: 5px;
    height: 8vh;
    width: 23vh;
    box-shadow: 0px 3.2px 7.68px rgba(0, 0, 0, 0.18);
    cursor: pointer;
}

.roll-button:hover {
    background-color: #381ede;
}

.roll-button:active {
    box-shadow: inset 0px 0px 10px -3px rgba(0, 0, 0, 0.7);
}