* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #0B2434;
    margin: 0;
    padding: 50px;
    font-family: 'Karla', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F5;
    height: 600px;
    max-width: 800px;
    border-radius: 10px;
    padding: 20px;
}

.dice--container {
    display: grid;
    grid-template: auto auto / repeat(5, 1fr);
    grid-gap: 30px;
}

.die-face {
    display: flex;
    align-items: center;
    justify-self: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    background-color: white;
    border-radius: 3.81px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.die-number {
    font-size: 2rem;
}
